<table class="table table-bordered">
  <tr>
    <th>Nombre</th>
    <th>Direccion</th>
    <th>Telefono</th>
    <th></th>
    <th></th>
    
  </tr>

<% @distributors.each do |distributor| %>
  <tr>
    <td><%= link_to distributor.nombre, distributor %></td>
    <td><%= distributor.direccion %></td>
    <td><%= distributor.telefono %></td>    
    <td><%= link_to 'Editar', edit_distributor_path(distributor) %></td>
    <td><%= link_to 'Eliminar', distributor, confirm: 'Está Seguro', method: :delete %></td>
  </tr>
<% end %>
</table>
