<% provide(:title, @distributor.nombre) %>

<div class="container-fluid">
		  <div class="row-fluid">
		    
		    <div class="span8">
		     <h1>
		     	<%= @distributor.nombre %>
		     </h1>

		     <%= @distributor.descripcion %>
		     
		     Telefono:  <%= @distributor.telefono %>
		  </div>
				
		</div>
<div class="btn-group span8">

	           		<%= link_to 'Editar', edit_distributor_path(@distributor), class: "btn btn-primary", role: "button"  %> |
					<%= link_to 'Regresar', distributors_path, class: "btn btn-primary",role: "button"  %>
                  
           		</div>  
</div>
 		