<table class="table table-bordered">
    <tr>
      <th>Name</th>
      <th>Descripcion</th>
      <th>Area</th>
      <th>Unidadmedida</th>
      <th>Region</th>
      <th style="width: 60px;"> Acciones</th>
    </tr>
 
   <tbody>
    <% @lots.each do |lot| %>
      <tr>
        <td><%= lot.name %></td>
        <td><%= lot.descripcion %></td>
        <td><%= lot.area %></td>
        <td><%= lot.unidadmedida %></td>
        <td><%= lot.region.name %></td>
        <td  valign="top">
            <%= link_to edit_lot_path(lot), :remote => true, :style=>'height: 14px;', :title=>'Edit', :'data-target'=>"#addModal",  role: "button", :'data-toggle' => "modal" do%> 
              <i class="icon-edit"></i> 
            <% end %> 
            <a style="height: 14px; padding-left: 5px;" title="Delete"
                    data-backdrop="static" data-keyboard="true"
                    href="javascript:;"
                    onclick="show_confirm_modal('<%= lot_path(lot) %>',
                    'Está seguro que desea Eliminar el Lote : <%= lot.name%>');"> 
              <i class="icon-remove"></i> 
            </a>
            <% end %>
        </td>
      </tr>
  </tbody>
</table>