<%= form_for(@region, remote: true) do |f| %>
  <% if @region.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@region.errors.count, "error") %> prohibited this region from being saved:</h2>

      <ul>
      <% @region.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name ,  placeholder: "Nombre", required: true %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br />
    <%= f.text_area :descripcion, placeholder: "Descripción",  size: "60x2" %>
  </div>
  <% if yield(:boton) == 'Salvar Cambios' %>
        </div>
        <div class="modal-footer">
                   <%= f.submit yield(:boton), class: "btn btn-primary" %>
                    <a class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</a>
                   
               </div>
      <% else %>
          <%= f.submit yield(:boton), class: "btn btn-primary" %>
      <% end  %>
<% end %>


