
<div class="container-fluid hero-unit formula">
  <%= form_for(@product) do |f| %>
    <% if @product.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

        <ul>
        <% @product.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

   <div class="row-fluid">
      <div class="span4">
             <label>Nombre</label>
             <%= f.text_field :name, class: "span12", placeholder: "Nombre", required: 'True' %>           
      </div>
       <div class="span4">
         <label>Ingrediente Activo</label>
            <%= f.text_field :ingredienteActivo, class: "span12", placeholder: "Ingrediente Activo", required: 'True'  %>
                    
      </div>
       <div class="span4">
        <label>Antidoto</label>
            <%= f.text_field :antidoto, class: "span12", placeholder: "Antidoto" %>
                    
      </div>
      
  
    </div>
    <div class="row-fluid">
              
              <div class="span12">
                <label>Descripción</label>
               <%= f.text_area :descripcion, class: "span12", placeholder: "Descripción",  size: "60x2"  %>          
            </div>
            
    </div>

   <div class="row-fluid">
      <div class="span4">
        
            <%= f.label "Presentación" %>
           
            <%= f.select(:presentacion, [['Polvo','Polvo'], ['Liquido','Liquido']]) %> 
         
                    
      </div>
      <div class="span4">
               <%= f.label "Tipo de Producto" %>
 

                <%=f.collection_select :tipo_product_id, TipoProduct.all,:id,:name %>
                      
      </div> 
      <div class="span4">
               <%= f.label "Modo de Acción" %>
           <%= f.select(:modoAccion, [['Sistemico','Sistemico'], ['Contacto','Contacto']]) %>           
      </div> 
  
   </div>
    <br/>
    
  <div class="row-fluid">
    <!-- -------------------------------------FORMULACION -->
   
   
      <div class= "span4">
        <label>Formulación</label>   
        <div class= "well formula"> 
            <table class="table table-hover table-bordered" id="tblFormula">
                              <thead>
                                <tr>
                                  <th class= "hide">id</th>
                                  <th class= "hide">id</th>
                                  <th>Elemento</th>
                                  <th class= "hide">por</th>
                                  <th>Porcentaje</th> 

                                </tr>
                                
                              </thead>
                              <tbody>
                                <% @product.formulations.each do |formulation| %>
                                  <%= fields_for "formulations[]", formulation do |hh| %>
                                   <tr onclick='toggleSelected(this)'>
                                    <td class= "hide" > <%=text_field_tag  "formulations[][element_id]", formulation.element_id %></td>
                                    <td class= "hide"><%= formulation.element_id %></td>
                                    <td><%= formulation.element.nombre %></td>
                                    <td class= "hide"> <%= text_field_tag "formulations[][porcentaje]", formulation.porcentaje %></td>
                                    <td><%= formulation.porcentaje %></td>      
                                  </tr>
                                  <% end %>
                                <% end %>
                              </tbody>

            </table>
            <div class="btn-group span4">
                <a id="kada" class="btn btn-primary" role="button" data-target="#addModal" data-toggle="modal">Nueva</a>
                
                <a class="btn btn-primary  dropdown-toggle" data-toggle="dropdown" href="#">Eliminar 
                  <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                              <li><a id="delete">Eliminar seleccionada</a></li>
                              <li><a id="delete-all">Eliminar Todas</a></li>
                            </ul>
                            
            </div> 
        </div> 
          
               
      </div> 

      <div class= "span8" id="plagg">
        <label>Plagas  que controla</label> 
          <div class= "well formula"> 
              
              <%= f.text_field :plague_tokens, "data-pre" => 
                                @product.plagues.map(&:attributes).to_json %>    
            </div>
        
      </div>  
    <div class= "span8" id="enf">
        <label>Enfermedades que controla</label> 
          <div class= "well formula"> 
              
              <%= f.text_field :sick_tokens, "data-pre" => 
                                @product.sicks.map(&:attributes).to_json %>    
            </div>
        
      </div>  
      <div class= "span8" id="uso">
        <label>Uso</label> 
           
              
              <%= f.text_area :uso, class: "span12", placeholder: "Uso",  size: "60x3"  %>   
            
        
      </div>
  </div>
   <div class="row-fluid">
              
              
             <div class="span6">
                 <label>Compatibilidad</label>
         <%= f.text_area :compatibilidad, class: "span12", placeholder: "Compatibilidad",  size: "60x3"  %>               
            </div>
            <div class="span6">
                <label>Toxicidad</label>
              <%= f.text_area :toxicidad, class: "span12", placeholder: "Toxicidad",  size: "60x3"  %>           
            </div>
    </div>
  

   <div class="row-fluid">
      <div class="span6">
            <!-- Aqui va el fabricante -->
            <label>Fabricante</label>
            <%=f.collection_select :maker_id, Maker.all,:id,:nombre %>            
                    
      </div>
      <div class="span6">
              <!-- Aqui va el distribuidor -->
              <label>Distribuidor</label>
              <%=f.collection_select :distributor_id, Distributor.all,:id,:nombre %>
              
      </div> 
  
   </div>

<div class="row-fluid">
      <div class="span12">
            <!-- Aqui va la dosis -->
             <label>Dosis</label>   
        <div class= "well formula"> 
            <table class="table table-hover table-bordered" id="tblDosis">
                              <thead>
                                <tr>
                                  <th class= "hide">cultivoInput</th>
                                  <th class= "hide">problemaInput</th>                                  
                                  <th class= "hide">dosisInput</th>
                                  <th class= "hide">MetodoInput</th>                                  
                                  <th class= "hide">observacion Input</th>
                                  <th>Cultivo</th>
                                  <th>Problema</th>                                  
                                  <th>Dosis</th>
                                  <th>Metodo de Aplicación</th>                                   
                                  <th>Observación</th>

                                </tr>
                                
                              </thead >
                              <tbody>
                                <% @product.doses.each do |dose| %>
                                  <%= fields_for "doses[]", dose do |hh| %>
                                   <tr onclick='toggleSelected(this)'>
                                    <td class= "hide" > <%=text_field_tag  "doses[][cultivo]", dose.cultivo %></td>
                                    <td class= "hide" > <%=text_field_tag  "doses[][problema]", dose.problema %></td>
                                    <td class= "hide" > <%=text_field_tag  "doses[][dosis]", dose.dosis %></td>
                                    <td class= "hide" > <%=text_field_tag  "doses[][metodoAplicacion]", dose.metodoAplicacion %></td>                                    
                                    <td class= "hide" > <%=text_field_tag  "doses[][observacion]", dose.observacion %></td>
                                    <td><%= dose.cultivo %></td>                                    
                                    <td><%= dose.problema %></td>      
                                    <td><%= dose.dosis %></td>  
                                    <td><%= dose.metodoAplicacion %></td>                                          
                                    <td><%= dose.observacion %></td>    
                                  </tr>
                                  <% end %>
                                <% end %>
                              </tbody>

            </table>
            <div class="btn-group span4">
                <a id="kada" class="btn btn-primary" role="button" data-target="#addModalDosis" data-toggle="modal">Nueva</a>
                
                <a class="btn btn-primary  dropdown-toggle" data-toggle="dropdown" href="#">Eliminar 
                  <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                              <li><a id="deleteDosis">Eliminar seleccionada</a></li>
                              <li><a id="delete-allDosis">Eliminar Todas</a></li>
                            </ul>
                            
            </div> 
        </div>           
                    
      </div>
      
  
   </div>

   <% if yield(:boton) == 'Salvar Cambios' %>
        </div>
        <div class="modal-footer">
                    <a class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</a>
                   <%= f.submit yield(:boton), class: "btn btn-primary" %>
               </div>
  <% else %>
          <br/>
          <%= f.submit yield(:boton), class: "btn btn-primary" %>
  <% end  %>

    <!-- MODAL -->
       <%= render 'modalFormula' %>
        <%= render 'modalDosis' %>
<% end %>

</div>
  <script type="text/javascript">
    /* Algo de funcionalidad basica... */
opcionPlag();
 function opcionPlag() {
    var option = $("#product_tipo_product_id option:selected").prop('index');
        

        if (option == 0 || option == 4)
        {
          $("#plagg").css("display","none");
           $("#enf").css("display","none");
          $("#uso").css("display","block");

          
        }
        else if(option ==3)
        {
          $("#plagg").css("display","none");
          $("#enf").css("display","block");
          $("#uso").css("display","none");

        }
        else 
        {
          $("#plagg").css("display","block");
          $("#enf").css("display","none");
          $("#uso").css("display","none");

        }

}
     $("#product_tipo_product_id").change(function()
     {
      $("#product_sick_tokens").val("");
      $("#product_plague_tokens").val("");
      $("#product_uso").val("");
        opcionPlag();

     });



     $(".nada").numeric();
      $("#select-all").click(function(){
        $("tbody > tr").addClass("info");
      });

      $("#unselect-all").click(function(){
        $("tbody > tr").removeClass("info");
      });

      $("#save").click(function(){
          save();
      });

      $("#saveDosis").click(function(){

          if (($("#dosis_cultivo").val()  =="")||($("#dosis_dosis").val()  ==""))
               
            {
              alert("El cultivo y la dosis es  obligatoria");
              return false;
            }
          else {
          saveDosis();}
      });

      $("#delete").click(function(){
        $("#tblFormula .info").remove();
      });

      $("#delete-all").click(function(){
        $("#tblFormula tbody").empty();
      });

      $("#deleteDosis").click(function(){
        $("#tblDosis .info").remove();
      });

      $("#delete-allDosis").click(function(){
        $("#tblDosis tbody").empty();
      });

      function toggleSelected(tr) {
        $(tr).toggleClass("info");          
      }

      function limpiar()
      {        
          $("#otro_porcentaje").val("");
       }

      function resetFormDosis() {
        $("#dosis_cultivo").val("");
        $("#dosis_problema").val("");
        $("#dosis_metodo").val("");
         $("#dosis_dosis").val("");
          $("#dosis_observacion").val("");
       
      }

      function save() {
            var found = false;

            if ($("#otro_porcentaje").val()  =="")
               
            {
              alert("La cantidad es obligatoria");
              return false;
            }
            $('#tblFormula tr').each(function () {
                var val = $(this).find("td").eq(1).html();
                if (val == $("#otro_element_id").val()) {

                  found = true;
                }
               });

          if (found == true)
          {
                      alert("Ese elemento ya se agregó");

          }
          else
          {
          var approved = $("#approved-memb").hasClass("active");
          var colourClass = approved ? "success" : "error"
          var status = approved ? "Approved" : "Rejected"
          var row = "<tr class='"+ colourClass +"' onclick='toggleSelected(this)'><td class= 'hide'><input id='formulations_0_element_id' name='formulations[][element_id]' value='"+ $("#otro_element_id").val() +"' type='text' /></td><td class= 'hide'>"+ $("#otro_element_id option:selected").val() +"</td><td>"+ $("#otro_element_id option:selected").html() +"</td><td class='hide'><input id='formulations_0_porcentaje' name='formulations[][porcentaje]' value='"+ $("#otro_porcentaje").val() +"' type='text' /></td><td>"+ $("#otro_porcentaje").val() +"</td></tr>";
          $("#tblFormula > tbody:last").append(row);
          limpiar();
          $("#addModal").modal("hide");  
          }
      }

      function saveDosis() {
                  
          var row = "<tr onclick='toggleSelected(this)'><td class= 'hide'><input id='dosis_0_cultivo' name='doses[][cultivo]' value='"+ $("#dosis_cultivo").val() +"' type='text' /></td><td class= 'hide'><input id='dosis_0_problema' name='doses[][problema]' value='"+ $("#dosis_problema").val() +"' type='text' /></td><td class= 'hide'><input id='dosis_0_dosis' name='doses[][dosis]' value='"+ $("#dosis_dosis").val() +"' type='text' /></td><td class= 'hide'><input id='dosis_0_metodo' name='doses[][metodoAplicacion]' value='"+ $("#dosis_metodo").val() +"' type='text' /></td><td class= 'hide'><input id='dosis_0_observacion' name='doses[][observacion]' value='"+ $("#dosis_observacion").val() +"' type='text' /></td><td> "+ $("#dosis_cultivo").val() +"</td><td>"+ $("#dosis_problema").val() +"</td><td>"+ $("#dosis_dosis").val() +"</td><td>"+ $("#dosis_metodo").val() +"</td><td>"+ $("#dosis_observacion").val().substring(0,40) +"...</td></tr>";
          $("#tblDosis > tbody:last").append(row);
          resetFormDosis();
          $("#addModalDosis").modal("hide");  
          
      }
$(function () {  
  $('#product_plague_tokens').tokenInput('/plagues.json', { crossDomain: false,
    prePopulate: $('#product_plague_tokens').data('pre'), theme: 'facebook'  });  

  $('#product_sick_tokens').tokenInput('/sicks.json', { crossDomain: false,
    prePopulate: $('#product_sick_tokens').data('pre'), theme: 'facebook'  });  
});  
    </script>