<% provide(:title, 'Productos') %>
<% provide(:boton, 'Salvar Cambios') %>
<h1>Lista de Plagas</h1>

<div class="container-fluid">
      <div class="row-fluid">
                
               
               <div class="btn-group span4">
                <%= link_to 'Nuevo', new_product_path, class: "btn btn-primary span6" %>                  
               
              </div>
        

                
                  <input type="text" id="filter" placeholder="Buscar" class= "input-large search-query">
</div>
<br/>
<div class="row-fluid">

               <table class="table table-bordered" id= "items">
                <thead>
              <tr>
                <th bgcolor="#eaeaea">Nombre</th>                
                <th>Tipo Producto</th>
                <th>Ingrediente Activo</th>                
                <th>Modoaccion</th>                                
                <th>Fabricante</th>
                <th>Distribuidor</th>                
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            <% @products.each do |product| %>
              <tr>
                <td><%= link_to product.name, product %></td>                               
                <td><%= product.tipo_product.name %></td>
                <td><%= product.ingredienteActivo %></td>                
                <td><%= product.modoAccion %></td>                                
                <td><%= product.maker.nombre %></td>
                <td><%= product.distributor_id %></td>                
                <td><%= link_to 'Editar', edit_product_path(product) %></td>
                <td><%= link_to 'Eliminar', product, confirm: 'Está seguro?', method: :delete %></td>
              </tr>
            <% end %>
        </tbody>
            </table>

            <br />             
              
             

             

        
      </div>
    </div>

<script type="text/javascript">

 

var searchOnTable = function() {
    var table = $('#items');
    var value = this.value;
    table.find('tr').each(function(index, row) {
        var allCells = $(row).find('td');
        if(allCells.length > 0) {
            var found = false;
            allCells.each(function(index, td) {
                var regExp = new RegExp(value, 'i');
                if(regExp.test($(td).text())) {
                    found = true;
                    return false;
                }
            });
            if (found == true) $(row).show();
            else $(row).hide();
        }
    });
};
 
$(function(){
    $('#filter').keyup(searchOnTable);
});
</script>